/* Main Button Area css
============================================================================================ */
.submit_btn{
	width: auto;
	display: inline-block;
	background: $white_color;
	padding: 0px 50px;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	line-height: 50px;
	border-radius: 5px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid $border_color;
	cursor: pointer;
	@include transform_time(0.5s);
	&:hover{
		background: transparent;
		
	}
}

.btn_1, .btn_2{
	display: inline-block;
	padding: 13px 30px;
	border-radius: 0;
	font-size: 16px;
	color: $white_color;
	text-transform: capitalize;
	@include transform_time(0.5s);
	background-color: $btn_bg;
	font-weight: 500;
	&:hover{
		color: $white_color;
		background-color: $btn_hover;
	}
	@media #{$tab}{
		padding: 14px 30px;
	}
	@media #{$medium_device}{
	
	}

}
.btn_2{
	background-color: #191d34;
	&:hover{
		background-color: $btn_bg;
		color: $white_color;
	}
}
.btn_4{
	display: inline-block;
	padding: 13px 47px;
    box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
	font-size: 14px;
	color: $white_color;
	text-transform: capitalize;
	@extend %custom_btn_bg_2;
	@include transform_time(.5s);
	border-radius: 50px;
	background-size: 300% 100%;
	&:hover{
		color: $white_color;
		background-size: 100% 100%;

	}
	@media #{$small_mobile}{
		padding: 14px 30px;
	}
	@media #{$large_mobile}{
		padding: 14px 30px;
	}
	@media #{$tab_device}{
		padding: 14px 30px;
	}
	@media #{$medium_device}{
	
	}
}
.btn_3 {
	position: relative;
    font-weight: 500;
    color: #2f373d;
    display: inline-block;
    z-index: 9;
    -webkit-transition: .6s;
    transition: .6s;
	line-height: 46px;
    padding-left: 30px;
	margin-top: 35px;
	font-family: $font_stack_2;
	&:after{
		height: 48px;
		width: 61px;
		background-color: #e3f1da;
		position: absolute;
		content: "";
		top: 0px;
		left: 0px;
		border-radius: 5px;
		z-index: -1;
		-webkit-transition: .6s;
		transition: .6s;
	}
	i{
		font-size: 12px;
		margin-left: 11px;
	}
}
/*=================== custom button rule start ====================*/

.button{
	display: inline-block;
	border: 1px solid transparent;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 54px;
	border-radius: 4px;
	color: $white_color;
	border: 1px solid $border_color;
	text-transform: uppercase;
	background-color: $btn_bg;
	cursor: pointer;
	@include transform_time(0.5s);

	@media(max-width: 767px){
		font-size: 13px;
		padding: 9px 24px;
	}

	&:hover{
		color: $white_color !important;
	}


	&-link{
		letter-spacing: 0;
		color: #3b1d82;
		border: 0;
		padding: 0;

		&:hover{
			background: transparent;
			color: #3b1d82;
		}
	}

	&-header{
		color: $white_color;
		border-color: $border_color;

		&:hover{
			background: #b8024c;
			color: $white_color;
		}
	}

	&-contactForm{
		color: $white_color;
		border-color: $border_color;
		padding: 12px 25px;

		&:hover{
			// border-color: $title-color;
			// background: $title-color;
			// color: $white_color;
		}
	}
}


/* End Main Button Area css
============================================================================================ */