/********** tour details content css start ***********/
.tour_details_content{
    p{
        margin-bottom: 10px;
    }
    .tour_details_content_btn{
        text-align: center; 
        margin-top: 80px;
    }
}